.container {
  height: 44px;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
  z-index: 3;
}

.container:hover {
  box-shadow: 0 2px 6px 3px rgb(64 60 67 / 16%);
}

.queryinput {
  flex: 1;
  display: flex;
  padding: 0 16px;
  height: inherit;
}

.bar {
  width: 90%;
  height: inherit;
  font: 16px arial, sans-serif;
  background-color: transparent;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

.bar:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 rgba(0 0 0 / 0%);
}

.clear {
  color: #70757a;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.search {
  color: #4285f4;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.actions {
  height: 44px;
  width: 24px;
  background: transparent;
  fill: currentcolor;
}

.divider {
  margin: 8px;
  border-left: 1px solid #dfe1e5;
}
