.nudge {
  margin-top: 10px;
  padding: 0 15px 8px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: relative;
  transition: all 150ms ease-in-out;
  transform-origin: top;
}

.nudge-title {
  margin: 8px 0;
  color: rgba(0 0 0 / 60%);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

.nudge-contents {
  display: flex;
  flex-direction: row;
  gap: 0.75rem; /* 12px */
  margin-top: 4px;
}
